/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) stylesheet for screen layout
 * (de) Stylesheet für das Bildschirm-Layout
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          basemod.css
 * @-yaml-minver  3.3
 */

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */ 
  body { 
  	background-color: #f3f3f3; 
  	padding: 0 0 10px 0; 
  }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins {	
  	margin: 0 auto;
	width: 960px;
	border: 0 none;
    box-shadow: 0 0 10px #000;
    background-color: #fff; 
}

  /* Layout Properties | Layout-Eigenschaften */
  #teaser { clear:both; padding: 0 10px; margin: 10px 0; }
 #nav {
	overflow:visible;
	background-color: #709708;
	min-height: 2.3em;
	border-bottom: 1px solid #f3f3f3;
	z-index:999;

}

/* Navi */

#schriftzug {
    float: left;
    padding-top: 20px;
}

 #topnav { 
 	position:relative;
 	text-align:right; 
 	color: #aaa; 
 	background: transparent; 
 	z-index:1;
 }

#topnav img{
    float: right;
    margin-left: 20px;
    width: 102px;
}

 #topnav .rublogo {
	position:absolute;
	top:0px; 
 	right:-30px; 
 }

 #uninavi { 
 	line-height: 4em;
 	padding-right: 90px; 
 }

 #uninavi a:link, #uninavi a:visited {
    color: #5C5C5C;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper {
	border: 0 none;
}

/* Header */

#header { 
	background-image:url(../img/bg-oben-unterseite-grau136.gif); 
	background-repeat:repeat-x; 
	color: #000;
}

#header h1 {
	color: #709108;
	font-size: 200%;
	font-weight: bold;
	padding: 10px 0 10px 10px;
	text-transform: uppercase;
}

#main { margin: 10px 0; background: #fff; z-index:99; }

/* Boxes */

.box {
    margin: 0 0 1.5em 0;
    padding: 0;
}

.box-gruen {
    background-color: #F3F7EE;
    border: 1px solid #cdd9a2;
    border-top: 2px solid #709708;
}

.box-gruen h3 {
    background-color: #E8EFCF;
}

.box-grau {
    border: 1px solid #ececec;
    border-top: 2px solid #ccc;
    background-color: #F9F9F9;
}

.box-grau h3 {
    background-color: #F0F0F0;
}

.box h3 {
    border-top: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.box p,
.box h3 {
  padding: 5px;
}

.box ul {
    list-style-type: none;
    list-style-image: url(../img/navigation/pfeil-rechts2.gif);
}

/* Footer */

#footer {
  background: #f9f9f9;
  border-top: 5px #efefef solid;
  color: #6b6b6b;
  font-size: 0.9em;
}

#footer ul {
    list-style-type: none;
    list-style-image: url(../img/navigation/pfeil-rechts2.gif);
}

#footer .linkleiste,
#footer .fusszeile p {
  padding: 10px;
}

#footer a {
	color: #6b6b6b;
}
#footer a:hover {
	text-decoration: underline;
}

#footer h6 {
  color:#6b6b6b; 
  font-size:1em; 
  font-weight:bold;
}

#footer .fusszeile {
  border-top: 1px solid #efefef;
  margin-top: 6px;
}

/* Social Media Footer */

#footer .socialfooter {
	margin-left: 0;
	list-style: none;
}

#footer .socialfooter li {
	list-style-image:none; 
	margin-left: 0px; 
	line-height:20px	
}

#footer .socialfooter a {
	background-repeat:no-repeat; 
	padding: 2px 0 2px 20px; 
	background-position: 0 0;
}

#footer a[href*="facebook.com"]:link, 
#footer a[href*="facebook.com"]:visited {
	background-image:url(../img/icons/footer-fb.gif); 
}

#footer a[href*="twitter.com"]:link, 
#footer a[href*="twitter.com"]:visited {
	background-image:url(../img/icons/footer-tw.gif); 
}

#footer a[href*="youtube.com"]:link, 
#footer a[href*="youtube.com"]:visited {
	background-image:url(../img/icons/footer-yt.gif); 
}

#footer a[href*="instagram.com"]:link, 
#footer a[href*="instagram.com"]:visited {
	background-image:url(../img/icons/footer-ig.gif); 
}

#footer .socialfooter a:hover {
	background-position: 0 -24px; 
}



  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #sideNavBox.col1 { float: left; margin-right:0 }
  .col2 { width: auto; margin: 0 2% 0 25% } /* margin-left: 240px;  */
  .col1_content { padding-left: 10px }



/* Overwrite SP-CSS */

#pageStatusBar[class], .ms-status-msg {
	margin-bottom: 0;
}

/* Edit Mode */

.edit-mode-panel {
  background-color: #efefef;
  padding: 2em;
}

/* Reset these div's to display:block due to errors in displaying Github:Gists */
.ms-webpart-cell-vertical {
  display: block;
}
.ms-webpart-chrome-vertical {
  display: block;
}
